<!DOCTYPE html>
<html>
  <head>
    <title>SURVEY PAGE YEAH</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<h1>really important survey</h1>
  	<form action='/surveys/process' method='POST'>
  	enter first name: <br>
  	<input type="text" name="name"><br>
  	enter favorite language: <br>
  	<input type="text" name="lang"><br>
  	comments?: <br>
  	<textarea name="comment">
  	</textarea> <br>
  	<input type="submit" value="ENTER SURVEY">
  	</form>
  </body>
</html>
